extends /layouts/layout.pug

block append variables
  -
    page.title = 'Chasooyoung Resume';
    page.bodyId = 'resume';

block append styles
  link(
    rel= 'stylesheet'
    href= './styles/index.css')

block body
  .container
    .topWrapper
      .img
        img(src= data.basics.picture alt= data.basics.name.korea)
      .messageWrapper
        | Hello, I'm Cha Sooyoung

      .infoWrap
        .row
          .part
            dfn name.
            span.detail= data.basics.name.korea
          .part
            dfn m.
            span.detail= data.basics.phone.handPhone
          .part
            dfn e-mail.
            span.detail= data.basics.email

        .row
          .part
            dfn website.
            a.detail(href= 'https://' + data.basics.website target= '_blank')
              = data.basics.website
          .part
            dfn github.
            a.detail(href= 'https://' + data.basics.github target= '_blank')
              = data.basics.github

        .row
          .part
            dfn addr.
            span.detail= data.basics.location.koreaAddress

    .contentsWrapper
      .educationWrapper
        h2
          span 학력

        .partWrap
          each $education in data.education
            .part(class= $education.grade)
              .institution= $education.institution

              if $education.major
                .major= $education.major

              if $education.gpa
                .gpa= $education.gpa

              .period
                = $education.startDate + ' ~ ' + $education.endDate

      .careerWrapper
        h2
          span 경력

        .partWrap
          each $career in data.career
            .part(class= $career.label)
              .company= $career.company
              .row
                span.department= $career.department
                span.rank= $career.rank
              .task= $career.task
              .period= $career.startDate + ' ~ ' + $career.endDate

      .experienceWrapper
        each $experience in data.experience
          .partWrap
            .projectWrap
              .col
                .company= $experience.company
                .name= $experience.project.name

              .col
                .appsWrap
                  each $apps in $experience.project.apps
                    .row
                      if $apps.type === 'Mobile Website' && $apps.icon
                        a.icon(href= $apps.appUrl target= '_blank')
                          img(src= $apps.icon alt= $experience.project.name)
                      else
                        .typeWrap
                          dfn type.
                          span.type= $apps.type

                      if $apps.url
                        a.url(href= $apps.url target= '_blank')
                          = $apps.url

                      .description
                        = $apps.description

                      .periodWrap
                        dfn 기간
                        span.period= $apps.period.from + ' ~ ' + $apps.period.to

                      .vcsWrap
                        dfn Version Control System
                        span.vcs= $apps.vcs

              .col
                each $roles in $experience.roles
                  .roles= $roles

      .skillsWrapper
        h2
          span 스킬

        .skillContentsWrap
          .partWrap
            .part.language
              .title= data.skills.language.title
              .listWrap
                each $list in data.skills.language.list
                  .row
                    span.name(style= 'width:' +  $list.percentage + '%')
                      em= $list.name + ' ' + $list.percentage + '%'

            .part.templateEngines
              .title= data.skills.templateEngines.title
              .listWrap
                each $list in data.skills.templateEngines.list
                  .row
                    span.name(style= 'width:' +  $list.percentage + '%')
                      em= $list.name + ' ' + $list.percentage + '%'
                  .website= $list.website
                  .description= $list.description

            .part.softwareTools
              .title= data.skills.softwareTools.title
              .listWrap
                each $list in data.skills.softwareTools.list
                  .row
                    span.name(style= 'width:' +  $list.percentage + '%')
                      em= $list.name + ' ' + $list.percentage + '%'

            .part.versionControlSystem
              .title= data.skills.versionControlSystem.title
              .listWrap
                each $list in data.skills.versionControlSystem.list
                  .row
                    span.name(style= 'width:' +  $list.percentage + '%')
                      em= $list.name + ' ' + $list.percentage + '%'

      .certificateWrapper
        h2 자격증

        .partWrap
          each $certificate in data.certificate
            .part
              .col.name= $certificate.name
              .col.acquireDate= $certificate.acquireDate

      .educationCompletionWrapper
        h2 교육이수

        .partWrap
          each $educationCompletion in data.educationCompletion
            .part
              .col.institution= $educationCompletion.institution
              .col.period
                = $educationCompletion.startDate + ' ~ ' + $educationCompletion.endDate
              .col.name= $educationCompletion.name
              .col.label= $educationCompletion.label

      .awardsWrapper
        h2 수상

        .partWrap
          each $awards in data.awards
            .part
              .col.title= $awards.title
              .col.date= $awards.date
              .col.awarder= $awards.awarder
              .col.summary= $awards.summary

