extends /layouts/layout.pug

block append variables
  -
    page.title = 'Chasooyoung\'s Work Experience';
    page.bodyId = 'resume';

block append styles
  link(
    rel= 'stylesheet'
    href= './styles/index.css')

block body
  .container
    header.topWrapper
      .photo
        img(
          src= data.basics.picture
          alt= data.basics.name.korean)

      h1.messageWrapper= site.author.name

      dl.infoWrap
        .part
          dt name
          dd= data.basics.name.korean

        .part
          dt
            abbr(title= 'mobile') m
          dd
            a(href= 'tel:' + data.basics.phone.mobile)
              = data.basics.phone.mobile

        .part
          dt
            abbr(title= 'address') addr
          dd
            -
              var googleMapUrl = [
                'https://maps.google.com/?q=',
                data.basics.location.coordinates.latitude,
                ',',
                data.basics.location.coordinates.longitude
              ].join('');

            a(
              href= googleMapUrl
              target= '_blank')
              = data.basics.location.koreaAddress

      dl.infoWrap
        .part
          dt github
          dd
            a(
              href= data.basics.github
              class= "github"
              target= '_blank')
              = data.basics.github.replace(/^https?:\/\//, '')

        .part
          dt website
          dd
            a(
              href= data.basics.website
              class= "website"
              target= '_blank')
              = data.basics.website.replace(/^https?:\/\//, '')

        .part
          dt e-mail
          dd
            a(
              href= 'mailto:' + data.basics.email
              class= "email")
              = data.basics.email

    main.contentsWrapper
      section.history.educationWrapper
        h2
          span 학력

        ol.partWrap
          each $education in data.education
            li.part(class= $education.grade)
              dl
                dt 학교명
                dd.institution= $education.institution

                if $education.major
                  dt 전공
                  dd.major= $education.major

                if $education.gpa
                  dt 취득 학점
                  dd.gpa
                    span= $education.gpa

                dt 교육 기간
                dd.period
                  if $education.startDate
                    time(datetime= $education.startDate)= $education.startDate

                  = ' ~ '

                  if $education.endDate
                    time(datetime= $education.endDate)= $education.endDate

      section.history.careerWrapper
        h2
          span 경력

        ol.partWrap
          each $career in data.career
            li.part(class= $career.label)
              dl
                dt 회사명
                dd.company= $career.company

                dt 소속 부서 및 직급
                dd.row
                  span.department= $career.department
                  span.rank= $career.rank

                dt 역할
                dd.task= $career.task

                dt 기간
                dd.period
                  if $career.startDate
                    time(datetime= $career.startDate)= $career.startDate

                  = ' ~ '

                  if $career.endDate
                    time(datetime= $career.endDate)= $career.endDate

      section.experienceWrapper
        h2 상세 경력

        ol
          each $experience in data.experience
            - var $project = $experience.project
            li
              .projectWrap
                .col
                  dl
                    dt 프로젝트 이름
                    dd.name= $project.name
                  dl
                    dt 프로젝트 회사
                    dd.company
                      = $experience.company + ' '
                      if ($project.explain)
                        = $project.explain

                .col.appsWrap
                  .part
                    dl.description
                      dt Description

                      each $description in $project.description
                        dd!= $description.replace(/\n/gm, '<br>')

                    dl.type
                      dt type

                      each $type in $project.type
                        dd= $type

                    if $project.urls
                      dl.url
                        dt URL

                        each $urls in $project.urls
                          dd
                            a(
                              href= $urls.url
                              target= '_blank')
                              = $urls.label + ': ' + $urls.url

                    dl.period
                      dt 기간
                      dd.period
                        time(datetime= $apps.period.from)= $apps.period.from
                        = ' ~ '
                        time(datetime= $apps.period.to)= $apps.period.to

                    dl.role
                      dt 역할

                      each $roles in $project.roles
                        dd= $roles

                    each $useTools in $project.useTools
                      dl.tools
                        dt= $useTools.label

                        each $tool in $useTools.tools
                          dd= $tool

      section.skillsWrapper
        h2
          span 스킬

        .skillContentsWrap
          .partWrap
            each $skill in data.skills
              .part(class= $skill.label)
                dl
                  dt= $skill.title
                  dd
                    ul
                      each $list in $skill.list
                        li
                          .name.inViewport(style= 'width:' +  $list.percentage + '%')
                            span= $list.name + ' ' + $list.percentage + '%'

                          if $list.website
                            .website= $list.website

                          if $list.description
                            .description= $list.description

      section.ectInfoWrappr.certificate
        h2 자격증

        ul
          each $certificate in data.certificate
            li
              dl
                dt 자격증명
                dd.name= $certificate.name
              dl
                dt 기관명
                dd.acquireDate= $certificate.institute
              dl
                dt 취득일
                dd.acquireDate
                  time(datetime=$certificate.acquireDate)= $certificate.acquireDate

      section.ectInfoWrappr.educationCompletion
        h2 교육이수

        ul
          each $educationCompletion in data.educationCompletion
            li
              dl
                dt 교육명
                dd.name= $educationCompletion.name
              dl
                dt 기관명
                dd.institution= $educationCompletion.institution
              dl
                dt 교육내용
                dd.label!= $educationCompletion.label.replace(/\n/gm, '<br>')
              dl
                dt 기간
                dd.period
                  time(datetime= $educationCompletion.startDate)= $educationCompletion.startDate
                  = ' ~ '
                  time(datetime= $educationCompletion.endDate)= $educationCompletion.endDate

      section.ectInfoWrappr.awards
        h2 수상

        ul
          each $awards in data.awards
            li
              dl
                dt 대회명
                dd.title= $awards.title
              dl
                dt 기관명
                dd.awarder= $awards.awarder
              dl
                dt 수상명
                dd.summary= $awards.summary
              dl
                dt 수상일
                dd.date
                   time(datetime= $awards.date)= $awards.date

block append scripts
  script(src= './scripts/index.js')
