extends /layouts/layout.pug

block append variables
  -
    page.title = 'Chasooyoung\'s Work Experience';
    page.bodyId = 'resume';

block append styles
  link(
    rel= 'stylesheet'
    href= './styles/index.css')

block body
  .container
    header.topWrapper
      .photo
        img(
          src= data.basics.picture
          alt= data.basics.name.korean)

      h1.messageWrapper= site.author.name

      dl.infoWrap
        .part
          dt name
          dd= data.basics.name.korean

        .part
          dt
            abbr(title= 'mobile') m
          dd
            a(href= 'tel:' + data.basics.phone.mobile)
              = data.basics.phone.mobile

        .part
          dt e-mail
          dd
            a(href= 'mailto:' + data.basics.email)
              = data.basics.email

        .part
          dt website
          dd
            a(
              href= data.basics.website
              target= '_blank')
              = data.basics.website.replace(/^https?:\/\//, '')

        .part
          dt github
          dd
            a(
              href= data.basics.github
              target= '_blank')
              = data.basics.github.replace(/^https?:\/\//, '')

        .part
          dt
            abbr(title= 'address') addr
          dd
            -
              var googleMapUrl = [
                'https://maps.google.com/?q=',
                data.basics.location.coordinates.latitude,
                ',',
                data.basics.location.coordinates.longitude
              ].join('');

            a(
              href= googleMapUrl
              target= '_blank')
              = data.basics.location.koreaAddress

    main.contentsWrapper
      section.history.educationWrapper
        h2
          span 학력

        ol.partWrap
          each $education in data.education
            li.part(class= $education.grade)
              dl
                dt 학교명
                dd.institution= $education.institution

                if $education.major
                  dt 전공
                  dd.major= $education.major

                if $education.gpa
                  dt 취득 학점
                  dd.gpa
                    span= $education.gpa

                dt 교육 기간
                dd.period
                  if $education.startDate
                    time(datetime= $education.startDate)= $education.startDate

                  = ' ~ '

                  if $education.endDate
                    time(datetime= $education.endDate)= $education.endDate

      section.history.careerWrapper
        h2
          span 경력

        ol.partWrap
          each $career in data.career
            li.part(class= $career.label)
              dl
                dt 회사명
                dd.company= $career.company

                dt 소속 부서 및 직급
                dd.row
                  span.department= $career.department
                  span.rank= $career.rank

                dt 역할
                dd.task= $career.task

                dt 기간
                dd.period
                  if $career.startDate
                    time(datetime= $career.startDate)= $career.startDate

                  = ' ~ '

                  if $career.endDate
                    time(datetime= $career.endDate)= $career.endDate

      section.experienceWrapper
        h2 상세 경력

        ul
          each $experience in data.experience
            li
              .projectWrap
                .col
                  dl
                    dt 프로젝트 회사
                    dd.company= $experience.company
                  dl
                    dt 프로젝트 이름
                    dd.name= $experience.project.name

                .col.appsWrap
                  each $apps in $experience.project.apps
                    .part
                      dl.type
                        dt type

                        if $apps.type === 'Mobile Website' && $apps.icon
                          dd
                            a.icon(
                              href= $apps.appUrl
                              target= '_blank')

                              img(src= $apps.icon alt= $experience.project.name)
                        else
                          dd= $apps.type

                      if $apps.url
                        dl.url
                          dt URL
                          dd
                            a(
                              href= $apps.url
                              target= '_blank')
                              = $apps.url

                      dl.description
                        dt Description
                        dd= $apps.description

                      dl.period
                        dt 기간
                        dd.period
                          time(datetime= $apps.period.from)= $apps.period.from
                          = ' ~ '
                          time(datetime= $apps.period.to)= $apps.period.to

                      dl.vcs
                        dt Version Control System
                        dd= $apps.vcs

                .col
                  dl.role
                    dt 역할
                    each $roles in $experience.roles
                      dd= $roles

      section.skillsWrapper
        h2
          span 스킬

        .skillContentsWrap
          .partWrap
            .part.language
              dl
                dt= data.skills.language.title
                dd
                  each $list in data.skills.language.list
                    .row
                      span.name(style= 'width:' +  $list.percentage + '%')
                        em= $list.name + ' ' + $list.percentage + '%'

            .part.templateEngines
              dl
                dt= data.skills.templateEngines.title
                dd
                  each $list in data.skills.templateEngines.list
                    .row
                      span.name(style= 'width:' +  $list.percentage + '%')
                        em= $list.name + ' ' + $list.percentage + '%'
                    .website= $list.website
                    .description= $list.description

            .part.softwareTools
              dl
                dt= data.skills.softwareTools.title
                dd
                  each $list in data.skills.softwareTools.list
                    .row
                      span.name(style= 'width:' +  $list.percentage + '%')
                        em= $list.name + ' ' + $list.percentage + '%'

            .part.versionControlSystem
              dl
                dt= data.skills.versionControlSystem.title
                dd
                  each $list in data.skills.versionControlSystem.list
                    .row
                      span.name(style= 'width:' +  $list.percentage + '%')
                        em= $list.name + ' ' + $list.percentage + '%'

      section.certificateWrapper
        h2 자격증

        .partWrap
          each $certificate in data.certificate
            .part
              .col.name= $certificate.name
              .col.acquireDate= $certificate.acquireDate

      section.educationCompletionWrapper
        h2 교육이수

        .partWrap
          each $educationCompletion in data.educationCompletion
            .part
              .col.institution= $educationCompletion.institution
              .col.period
                = $educationCompletion.startDate + ' ~ ' + $educationCompletion.endDate
              .col.name= $educationCompletion.name
              .col.label= $educationCompletion.label

      section.awardsWrapper
        h2 수상

        .partWrap
          each $awards in data.awards
            .part
              .col.title= $awards.title
              .col.date= $awards.date
              .col.awarder= $awards.awarder
              .col.summary= $awards.summary
